parameters:
    level: 6

    paths:
        - .

    excludePaths:
        - vendor
        - assets/fonts
        - assets/_ext

    ignoreErrors:
        # $pdo, $daten, $enr etc. werden per require/include eingebunden
        # und sind in den jeweiligen Dateien immer verfügbar
        -
            identifier: variable.undefined
            reportUnmatched: false
